{% extends 'base.html.twig' %}

{% block title %}New Dataset{% endblock %}

{% block body %}
<div class="white-block">
    <div class="row">
        <div class="col s3"></div>
        <div class="col s6">
            <h3>Create new Dataset</h3>

            {{ include('dataset/_form.html.twig') }}
        </div>
        <div class="col s3"></div>
    </div>


    <a class="btn" href="{{ path('dataset_index') }}">back to list</a>
</div>
{% endblock %}
