<form method='post' action='{{ path('classe_delete', {'id': classe.id}) }}' onsubmit='return confirm("Are you sure you want to delete this item?");'>
                                    <input type='hidden' name='_method' value='DELETE'>
                                    <input type='hidden' name='_token' value='{{ csrf_token("delete" ~ classe.id) }}'>
                                    <button class='btn red' style="margin-top: 50px;position: relative;left: -88px;"><i class="material-icons">delete</i></button>
                                </form>